.navList {
  position: absolute;
  top: 7rem;
  font-size: 1.5rem !important;
  background-color: var(--primary-light);
  border-radius: 0.5rem;
  padding: 4px 0;
}
.navList li {
  padding: 1rem;
}
.navList li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navListBg {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
