@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Box sizing rules */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --primary-dark: #212b2d;
  --primary-light: #3d5a68;
  --primary-bg: #5586a6;
  --primary-yellow: #ffb701;
  --primary-yellow-blur: #ffb70181;
  --primary-orange: #ff9302;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set default font size and family */
body {
  background-color: #5586a6;
  color: white;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove hyperlink styling */
a {
  text-decoration: none;
  color: inherit;
}

/* Set maximum width for content */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}
input {
  background: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid var(--primary-yellow-blur);
  border-radius: 5px;
}
input:hover {
  border: 1px solid var(--primary-yellow);
}
input:focus {
  border: 2px solid var(--primary-yellow);
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
}
